$font-stack: "Open Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-size: 1.6rem;
  font-family: $font-stack;
  color: #333;
  line-height: 1.5;
}

// HELPER CLASSES

.container {
  max-width: 1200px;
  margin: 0 auto;
}
