$font-stack: "Open Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: $font-stack;
  color: #333;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
}

// HELPER CLASSES

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.margin-bottom--sm {
  margin-bottom: 0.6rem;
}

.margin-bottom--md {
  margin-bottom: 1.6rem;
}

.margin-bottom--bg {
  margin-bottom: 3.2rem;
}

// HEADINGS

%headings {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #fff;
}

.heading--tertiary {
  @extend %headings;
  font-size: 1.4rem;
}

.heading--secondary {
  @extend %headings;
  font-size: 3rem;
}
